.user {
    display: flex;
    align-items: center;
}
.user__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.feed__item--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user__profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 10px;
}
.feed__item--header--items {
    display: flex;
    align-items: center;
}
.header__span {
    margin-right: 10px;
}
