.logo {
    width: 100px;
}
.sidebar {
    background-color: rgb(255, 255, 255);
    width: 200px;
    padding-top: 20px;
}
.sidebar--title {
    margin-left: 10px;
}
.sidebar__items {
    list-style: none;
    text-align: start;
    margin-bottom: 30px;
}
.sidebar__items--icons {
    font-size: 20px;
}
