.logo {
    width: 100px;
}
.sidebar {
    background-color: rgb(255, 255, 255);
    width: 200px;
    padding-top: 20px;

    border-right: 1px solid rgb(195, 195, 195);
}
.sidebar.collapsed {
    width: 80px; /* Adjust the collapsed sidebar width as needed */
    overflow: hidden;
}
.sidebar--title {
    margin-left: 10px;
}
.sidebar__items {
    list-style: none;
    text-align: start;
    margin-bottom: 30px;
}
.sidebar__items--icons {
    font-size: 20px;
}
